{% extends 'base.html.twig' %}

{% block title %}Hello EscuelaController!{% endblock %}

{% block body %}

 {{ form_start(formulario) }}
        {{ form_row(formulario.instrumento) }}
        {{ form_row(formulario.seleccionar) }}
    {{ form_end(formulario) }}
<table>
<caption>
<th>Instrumentos</th>
<th>Alumnos</th>
{% for instrumento in app.user.imparte %}
    <tr>
    <td>{{instrumento.nombre}}</td>
   <td><a href="{{ path('app_instrumento_matricula', {'id': instrumento.id} ) }}">Alumnos</a></td>
{% endfor %}
{% endblock %}
